:host {
  display: inline-block;
  --ui-icon-color: currentColor;
  --ui-icon-size-sm: 1rem;
  --ui-icon-size-md: 1.5rem;
  --ui-icon-size-lg: 2rem;
}

.ui-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--ui-icon-color);
  width: var(--ui-icon-size-md);
  height: var(--ui-icon-size-md);
}

.ui-icon[data-size="sm"] {
  width: var(--ui-icon-size-sm);
  height: var(--ui-icon-size-sm);
}

.ui-icon[data-size="md"] {
  width: var(--ui-icon-size-md);
  height: var(--ui-icon-size-md);
}

.ui-icon[data-size="lg"] {
  width: var(--ui-icon-size-lg);
  height: var(--ui-icon-size-lg);
}

.ui-icon ::slotted(*) {
  width: 100%;
  height: 100%;
  fill: currentColor;
  color: currentColor;
}